.reader-dashboard {
    width: 100%;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.button-container {
    /* align-items: center; */
    background-color: red;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-container {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
}

.book-container{
    align-items: start;
    display: flex;
    /* flex-direction: column; */
}
.book-list-container{
    gap: 10px;
    justify-content: start;
    align-items: center;
    display: flex;
    max-width: 900px;
}
.issue-button{
    max-width: 100px;
}