.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 1rem;
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center .nav-links li {
    margin-right: 1rem;
}

.navbar-center .nav-links a {
    color: #fff;
    text-decoration: none;
}
@media (max-width: 768px) {
    .navbar-center .nav-links {
      display: none;
    }

    .navbar-right {
      display: flex;
      align-items: center;
    }
}